{% extends "base.html" %}

{% block main %}
  <div class="min-h-screen flex flex-col items-center justify-center px-4 md:px-0 py-10">
    <div class="max-w-xl w-full p-6 md:p-8 bg-white rounded-none md:rounded-lg shadow-none sm:shadow-lg prose border border-green-50">
      <h1 class="text-center text-primary">HealthConnect</h1>
      {% block content %}
      {% endblock content %}
    </div>
    <div class="w-full text-center mt-10">
      <a class="link"
         target="_blank"
         href="https://www.thrive.health/privacynotice">Privacy Policy</a>
    </div>
  </div>
{% endblock main %}
