<!-- Overrides https://codeberg.org/allauth/django-allauth/src/branch/main/allauth/templates/socialaccount/login.html -->
{% load i18n %}
{% load allauth %}
{% load socialaccount %}

{% get_providers as socialaccount_providers %}
{% if socialaccount_providers %}
  {% if not SOCIALACCOUNT_ONLY %}
    <div role="separator" class="my-8 flex items-center">
      <span class="border-t border-gray-300 w-full"></span>
      <span class="px-4">{% trans "or" %}</span>
      <span class="border-t border-gray-300 w-full"></span>
    </div>
  {% endif %}
  {% include "socialaccount/snippets/google_button.html" %}
  {% include "socialaccount/snippets/login_extra.html" %}
{% endif %}
