@import 'tailwindcss';
@import './_google-button.css';
@import './choicesjs.css';

/* Print-specific styles */
/* For now, this is a copy of project.css */
/* In the future, customize this for print layouts */

@plugin "@tailwindcss/typography";
@plugin "daisyui" {
  themes: corporate --default;
}

@layer base {
  h1 {
    @apply text-2xl;
    @apply font-bold;
  }

  h2 {
    @apply text-xl;
    @apply font-semibold;
  }

  h3 {
    @apply text-lg;
    @apply font-semibold;
  }
}

@layer utility {
  .prose {
    line-height: 1.4;

    h2 {
      margin: 1em 0;
    }

    hr {
      margin: 1em 0;
      height: 1px;
    }
  }

  hr {
    border-top: none;
    @apply divider;
    height: 1px;
  }
}

@media print {
  @page {
    margin: 1in;
  }
}
