{% load crispy_forms_tags %}
{% load lucide %}

<dialog id="patient-add-modal" class="modal">
  <div class="modal-box space-y-4">
    <form method="dialog">
      <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2"
              aria-label="Close">{% lucide "x" %}</button>
    </form>
    <h3 class="font-bold text-lg">Create Patient</h3>
    <form method="post"
          hx-post="{% url 'providers:patient_add_modal' organization_id=organization.id %}"
          hx-target="#modal-container"
          hx-swap="innerHTML">
      {% csrf_token %}
      {% crispy form %}
    </form>
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>
