{% extends "base.html" %}

{% block nav_items %}
  {% if organization %}
    <a class="btn btn-ghost"
       href="{% url 'providers:organization' organization_id=organization.id %}">Home</a>
    <div tabindex="0"
         role="button"
         class="btn btn-ghost btn-circle"
         onclick="document.querySelector('command-palette').isOpen = true;">
      <svg xmlns="http://www.w3.org/2000/svg"
           class="h-5 w-5"
           fill="none"
           viewBox="0 0 24 24"
           stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
      </svg>
    </div>
  {% else %}
    <a class="btn btn-ghost" href="{% url 'providers:home' %}">Home</a>
  {% endif %}
{% endblock nav_items %}
{% block modal %}
  {% if organization %}
    <command-palette search-url="{% url 'providers:search' organization_id=organization.id %}" />
  {% endif %}
{% endblock modal %}
{% block title %}
  {% if organization %}{{ organization.name }} &middot;{% endif %}
  HealthConnect
{% endblock title %}
