{% extends "patient/base.html" %}

{% block content %}
  <h2>Hi {{ patient.full_name }}</h2>
  <a href="{% url "patients:patient_edit" patient_id=patient.id %}"
     class="btn btn-primary">Edit</a>
  <hr />
  <h3>Tasks</h3>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Started</th>
        <th>Ended</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      {% for task in tasks %}
        <tr>
          <td>{{ task.name }}</td>
          <td>{{ task.created_at }}</td>
          <td>{{ task.ended_at|default:"—" }}</td>
          <td>{{ task.get_status_display }}</td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="4" class="text-center">No tasks found.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock content %}
